.game {
    width: 700px;

    &__players {
        display: none;
        padding-bottom: 15px;
        justify-content: space-between;
    }

    &__engine {
        display: none;
    }
}

.game.active {
    .game {
        &__room {
            display: none;
        }

        &__engine {
            display: block;
        }
    }
}

.game.play {
    .game {
        &__players {
            display: flex;
        }
    }
}

