extends ./layout/index

block content
    .game
        .game__room
            h3 Создайте свою комнату
            form#js-create-room
                input(type="number")
                input(type="submit" value="Создать комнату")
            p Присодиняйтесь к уже созданным комнатам:
            hr
            ul.room-list
        .game__engine
            h3.js-game-status Ожидание противника...
            .game__players
                .game__player
                    .player-info.js-player-info-1
                        .player-info__name Den55
                        .player-info__status
                            .player-info__status-icon
                .game__player
                    .player-info.js-player-info-2
                        .player-info__name Liza
                        .player-info__status
                            .player-info__status-icon
            .game
                .game__left
                    canvas#game(width="700" height="480")
                    .sprites
                        img(src="/static/img/bg.jpg" alt="")#bg

    script(src="/socket.io/socket.io.js")

block script
    script(src="/static/scripts/game.js")
