doctype html
html
    head
        title Express Blog
        link(href="/static/styles/style.css" rel="stylesheet")
    body
        header
            .header
                a(href="/") Главная

                if (currentUser.isGuest())
                    a(href="/login") Вход
                    a(href="/registration") Авторизация

                if (!currentUser.isGuest())
                    a(href="/game") Игра
                    form(action="/session?_method=DELETE" method="POST")
                        button(type="submit") Выход
        block content
        block script
